.home-images img {
    width: 70%;
   
}

.top {
    padding-top: 6rem;
}

.top-section {
    padding-top: 1rem;
    padding-bottom: 3rem;
}

.top-section img {
    width: 8rem;
    height: 8rem;
}

.profile-image {
    display: flex;
    justify-content: center;
}


.username {
    font-size: 35px;
}

.btn-edit {
    color: rgb(0, 0, 0);
    background-color: #ebebeb;
    border-color: #000000;
    margin-bottom: 5px;
}

.fa {
    color: black;
}

.edit-profile {
    background-color: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 1px;
    margin: 0 0 10px;
    padding: 10px 0;
}
.edit-areas {
    border-right: 1px solid #e6e6e6;
}

.modal-dialog {
    max-width: 300px;
}

.modal-body {
    padding: 0;
}

.modal-body a {
    cursor: pointer;
    color: black;
}

.modal-body a:hover {
    text-decoration: none;
}

.home-text {
    padding-left: 1rem;
    padding-top: 1rem;
}
.home-list {
    padding-left: 1rem;
}
.search-results{
    text-align: center;
    padding-bottom: 1rem;
    margin: 1rem;
}
.search-results img{
    width: 180px;
    height: 180px;
    border-radius: 20rem;
    margin: 2rem 0;
}

